# ignore all hidden files and directories
.*
!/.gitignore

# ignore all __pycache__ directories
**/__pycache__

# ignore outputs directory
outputs/*
!/outputs/pickled_dataloaders/processed_sdd

# ignore all eventual log files
**/*.log

# ignore config/coordinate_conversions.txt file
config/coordinates_conversion.txt
