# Note: install pytorch first
# Note: install scikit-geometry (either through the conda-forge channel):
#	$: conda install -c conda-forge scikit-geometry
# (or by building from source, with CGAL 5.0 installed preemptively
#	$: python -m pip install -e . -v
# then, the requirements can be installed:
# 	$: pip install -r requirements.txt
shapely
matplotlib
numpy
scipy
pandas
tqdm
opencv-python
pyyaml
